<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Practica_1</title>
    <% include bloque/head.html %>
  </head>

    <body>
        <% include bloque/navegacion.html %>
        <div class="caja">
            <h1>Practica 1</h1>
            <a>Nombre: Yefer Rodrigo Miguel Alvarado Tzul</a><br>
            <a>Carne: 201731163</a><br>
            <a>Curso: Lenguajes Formales y de Programacion 1</a><br>
            <a></a>
            <% console.log("Estamo en home"); %>
        </div>
    </body>
</html>