<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Practica_1</title>
    <% include bloque/head.html %>
  </head>
  
    <body>
        <% include bloque/navegacion.html %>
        
      
        <% console.log("Estamo en Diagramas"); %>
    </body>
</html>