<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Practica_1</title>
    <% include bloque/head.html %>
  </head>
  
    <body>
      <% include bloque/navegacion.html %>
    
    
        






    
      <form action="/mo" method="POST" id="formulario"  enctype="multipart/form-data">
      <input type="file" id="fileinput" (change)="onFileChange($event)"/>
      <h3>Contenido del archivo:</h3>
      <pre id="contenido-archivo1"></pre>
      <textarea name="contenido-archivo" id="contenido-archivo" cols="60" rows="20" disabled="true">

      </textarea><br>
      <input type="button" name="bote" id="getButton" value="Analizar" style="display:none"/><br>
    </form>
      


      <% console.log("Estamo en Analizador"); 
          
      %>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./leer.js"></script>
    <script src="./enviar.js"></script>
    </body>
</html>