<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Practica_1</title>
  </head>
  
    <body>
      <% include bloque/navegacion.html %>
    
      <form action="#" method="GET" enctype="multipart/form-data"
      <label for="fichero">TEXTO</label><br>
      <input type="file" name="fichero" value="Selecionar" id="btn" class="btn" required /><br>
      </form>
        
      <form action="/uno" method="GET" enctype="multipart/form-data"
      <label for="texto">TEXTO</label><br>
      <input type="text" name="texto" id="btn" class="btn" required /><br>
      <input type="submit" name="bote" value="Analizar"/>
      </form>
    

      <% console.log("Estamo en Analizador"); 
          
      %>
      <script>
        
      </script>
    </body>
</html>