<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Practica_1</title>
    <% include bloque/head.html %>
  </head>
  
    <body>
      <% include bloque/navegacion.html %>
    
      <form action="/mo" method="POST" id="formulario"  enctype="multipart/form-data">
      <input type="file" id="fileinput" (change)="onFileChange($event)"/>
      <h3>Contenido del archivo:</h3>
      <pre id="contenido-archivo1"></pre>
      <textarea name="contenido-archivo" id="contenido-archivo" class="area" cols="60" rows="20" disabled="true">

      </textarea><br>
      <input type="button" name="bote" id="getButton" value="Analizar" style="display:none"/><br>
      <input type="button" name="bote" id="posButton" value="Obtener" style="display:none"/><br>
    </form><br>
    <h1 id="cantida">
      
    </h1>
    <div class="contenedor1"> 
        <p>Todos</p>   
    <table class="table" id="datos">
      <thead class="thead-dark">
        <tr>
            <th scope="col">Fila</th>
          <th scope="col">Token</th>
          <th scope="col">Tipo</th>
        </tr>
      </thead>
      <tbody>

    </table>
  </div><br>

  <div class="contenedor2">
    <p>Palabra Reservada</p>  
      <table class="table" id="datos1">
        <thead class="thead-dark">
          <tr>
              <th scope="col">Fila</th>
            <th scope="col">Token</th>
          </tr>
        </thead>
        <tbody>
  
      </table>
    </div><br>

    <div class="contenedor3">
        <p>Operador</p>  
        <table class="table" id="datos2">
          <thead class="thead-dark">
            <tr>
                <th scope="col">Fila</th>
              <th scope="col">Token</th>
            </tr>
          </thead>
          <tbody>
    
        </table>
      </div><br>

      <div class="contenedor4">
          <p>Agrupación</p>  
          <table class="table" id="datos3">
            <thead class="thead-dark">
              <tr>
                  <th scope="col">Fila</th>
                <th scope="col">Token</th>
              </tr>
            </thead>
            <tbody>
      
          </table>
        </div><br>

        <div class="contenedor5">
            <p>Signo</p>  
            <table class="table" id="datos4">
              <thead class="thead-dark">
                <tr>
                    <th scope="col">Fila</th>
                  <th scope="col">Token</th>
                </tr>
              </thead>
              <tbody>
        
            </table>
          </div><br>

          <div class="contenedor6">
              <p>Número entero</p>  
              <table class="table" id="datos5">
                <thead class="thead-dark">
                  <tr>
                      <th scope="col">Fila</th>
                    <th scope="col">Token</th>
                  </tr>
                </thead>
                <tbody>
          
              </table>
            </div><br>

            <div class="contenedor7">
                <p>Identificador</p>  
                <table class="table" id="datos6">
                  <thead class="thead-dark">
                    <tr>
                        <th scope="col">Fila</th>
                      <th scope="col">Token</th>
                    </tr>
                  </thead>
                  <tbody>
            
                </table>
              </div><br>




      <% console.log("Estamo en Analizador"); 
          
      %>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./leer.js"></script>
    <script src="./enviar.js"></script>
    </body>
</html>