<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Practica_1</title>
  </head>
  
    <body>
        <% include bloque/navegacion.html %>
        
      
    </body>
</html>